@import 'tailwindcss';

* {
	@apply subpixel-antialiased;
}

body {
	@apply bg-white;
	@apply text-zinc-900;
}

.manrope {
	font-family: 'Manrope', sans-serif;
	font-optical-sizing: auto;
}

.aleo {
	font-family: 'Aleo', serif;
	font-optical-sizing: auto;
}
